@media screen and (max-width: 1336px){
    .footer-myaccount{
        width: 100px;
    }

    .footer-social-medias{
        justify-content: center;
    }
}

@media screen and (max-width: 1008px){
    .position-footer{
        width: 100%;
    } 
    .footer-social-medias{
        justify-content: center;
    }

    .footer-term{
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .parrow{
        right: 20px;
        top: 300px;
    }
    
    .frog{
        right: 100px;
    }

    .elephant{
        left: 100px;
    }

    .content-image img{
        width: 400px;
        height: 400px;
    }

    .myaccount{
        padding: 10px;
        margin: 0;
    }
}

@media screen and (max-width: 965px){
    .experience{
        width: 800px;
        height: 300px;
    }

    .tiger{
        left: 50px;
        top: 150px;
    }

    .content-buttons{
        display: flex;

    }

    .menu ul{
        flex-wrap: wrap;
    }


    li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 0.8em;
    }

    .button-learnmore, .button-getstarted{
        padding-right: 10px;
        height: 50px;
        width: 200px;    
    }

    .footer-myaccount{
        width: 100px;
        height: 50px;
    }
}
