.infos{
    display: flex;
    justify-content: center;
    padding: 2%;
    height: 30%;
}

.infos-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos-card h1{
    font-size: 50px;
}

.infos-card p{
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.info-img{
    width: 30px;
    height: 30px;
}