.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.infos-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.infos-card img{
    width: 40px;
    height: 40px;
}

.infos-card h1{
    font-size: 50px;
    font-weight: 600;
}

.infos-card p{
    font-weight: normal;
    opacity: 0.5;
}